{% extends 'statistics/base.html' %}
{% load sekizai_tags %}

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}js/statistics.config.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/league.view.js" type="text/javascript"></script>
{% endaddtoblock %}

{% block content %}
<div class="pull-right">
    <a href=".."><< Leagues</a>
</div>

<h2>League {{league.name}}</h2>



<div class="col-sm-12 col-md-8">
<h3>Games</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Home</th>
                <th>Guest</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
        <tr class="datarow" data-id="{{ game.id }}">
            <td><a href="game/{{ game.id }}">{{ game.id }}</a></td>
            <td>{{ game.date }}</td>
            <td>{{ game.home.name }}</td>
            <td>{{ game.guest.name }}</td>
            <td><span style="visibility: hidden" class="glyphicon glyphicon-trash"/></td>
        </tr>
        {% endfor %}
        <tr>
        <form action="{{request.path}}" method="post">{% csrf_token %}
            <td></td>
            <td class="form-group" >
                <input id="datepicker" type="text" class="form-control" name="date" placeholder="Date">
            </td>
            <td class="form-group">
                <input type="text" class="form-control" name="home" placeholder="Home">
            </td>
            <td class="form-group">
                <input type="text" class="form-control" name="guest" placeholder="Guest">
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>                
            </td>
        </form>
        </tr>
    </tbody>
</table>
</div>

<div class="col-sm-12 col-md-4">
<h3>Teams</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
        <tr class="datarow" data-id="{{ team.id }}">
            <td><a href="team/{{ team.id }}">{{ team.id }}</a></td>
            <td>{{ team.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
{% block extrajs %}
    {% addtoblock "js" %}
    <script>
    var GAMESURL="{{ request.path }}../rest/game/"
    </script>
    <script src="{{ STATIC_URL }}js/statistics.config.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/league.view.js" type="text/javascript"></script>
    {% endaddtoblock %}
{% endblock extrajs %}

