{% extends 'statistics/base.html' %}

{% block content %}
<h2>Available leagues</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        {% for l in leagues %}
        <tr>
            <td><a href="{{ l.id }}">{{ l.id }}</a></td>
            <td>{{ l.name }}</td>
            <td>{{ l.from_date }}</td>
            <td>{{ l.to_date }}</td>
        </tr>
        {% endfor %}
        <tr>
        <form>
            <td></td>
            <td class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </td>
            <td class="form-group">
                <input type="date" class="form-control" id="from" placeholder="From">
            </td>
            <td class="form-group">
                <input type="date" class="form-control" id="to" placeholder="To"> 
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>                
            </td>
        </form>
        </tr>
    </tbody>
</table>
{% endblock content %}
{% block scripts %}
<script>var SOURCEROOT="{{source}}";</script>
<script src="{{ STATIC_URL }}js/statistics.config.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/main.view.js" type="text/javascript"></script>
{% endblock %}
