
.header {
	position: relative;
	padding: 0px 20px 20px 0px;
	width: 100%;
	height: 120px;
	z-index: 1000;
  background: rgba(2,14,86,1);
  background: -moz-linear-gradient(left, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,14,86,1)), color-stop(71%, rgba(0,36,240,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020e56', endColorstr='#000000', GradientType=1 );
}

.subtitle {
  position: relative;
  padding: 0px 20px 20px 0px;
  width: 100%;
  height: 120px;
  font-size: 28px;
  font-family: serif;
  color: white;
  z-index: 100;
  background: rgba(2,14,86,1);
  background: -moz-linear-gradient(left, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,14,86,1)), color-stop(71%, rgba(0,36,240,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(2,14,86,1) 0%, rgba(0,36,240,1) 71%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020e56', endColorstr='#000000', GradientType=1 );
}

.navbar-default {
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-image: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 1);
  border-color: rgba(255, 255, 255, 1);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  color: white;
}

.navbar-default .navbar-nav .hover > li, {
  background-image: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: grey;
}

.navbar-default .navbar-nav > a {
  background-image: none;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

.navbar-default .navbar-nav > .active {
}

.navbar-nav > li {
}

body {
	background: #f4f4f5;
}


